<!DOCTYPE html>
<html>
<head>
  <title>Thomas Strothjohann</title>
  <script type="text/javascript" src="angular/angular.js"></script>
  <script type="text/javascript" src="js/angularApp.js"></script>
</head>
<body ng-app="strNet">

</body>
</html>