<!DOCTYPE html>
<html>
<head>
  <title>Thomas Strothjohann</title>
  <link rel="stylesheet" type="text/css" href="materialize/dist/css/materialize.min.css">
  <script type="text/javascript" src="angular/angular.js"></script>
  <script type="text/javascript" src="angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/angularApp.js"></script>
  <script type="text/javascript" charset="utf-8" src="angular-contentful/dist/angular-contentful.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/services/contentfulCard.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/services/googleFeeds.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/services/torialCard.js"></script>
  <script type="text/javascript" src="js/controllers/streamCtrl.js"></script>
  <script type="text/javascript" charset="utf-8" src="jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="materialize/dist/js/materialize.min.js"></script>
</head>
<body ng-app="strNet">
  <div class="container" ng-controller="streamCtrl as stream">
    <ul class="row" ng-repeat="post in stream.posts"> 
      <li class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img ng-src="{{post.photo}}">
            <span class="card-title">{{post.title}}</span>
          </div>
          <div class="card-content">
            <p>{{post.text}}</p>
            
            <p ng-if="post.textHTML" ng-bind-html="post.textHTML">></p>
          </div>
          <div class="card-action">
            <p>{{post.date}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>